<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>IntersectionManager</Name><AddInID>{77515406-0ecf-45e0-a337-847a8a48b52f}</AddInID><Description>Intersection Manager Utilities</Description><Version>0.1</Version><Image /><Author>yluo</Author><Company>TSS</Company><Date>04/28/2015</Date><Targets><Target name="Desktop" version="10.2" /></Targets><AddIn language="PYTHON" library="intersection_manager_addin.py" namespace="intersection_manager_addin"><ArcMap>
    <Commands>
        <Button caption="Test" category="IntersectionManager" class="ButtonClass1" id="intersection_manager_addin.button" image="" message="" tip=""><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Intersection Manager" category="IntersectionManager" id="intersection_manager_addin.toolbar" showInitially="true"><Items><Button refID="intersection_manager_addin.button" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>