<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Intersection Manager Addin</Name><AddInID>{eaf64544-3234-4dcb-9971-f3f38a6a0ab5}</AddInID><Description>Intersection Manager Addin wxPython version</Description><Version>0.1</Version><Image /><Author>Yluo</Author><Company>TSS</Company><Date>05/04/2015</Date><Targets><Target name="Desktop" version="10.2" /></Targets><AddIn language="PYTHON" library="IntersectionManager_addin.py" namespace="IntersectionManager_addin"><ArcMap>
    <Commands>
        <Button caption="Parameter Configuration" category="Intersection Manager Addin" class="Configuration" id="IntersectionManager_addin.configButton" image="Install\settings.png" message="" tip=""><Help heading="" /></Button>
        <Button caption="Populate Intersection Manager Tables" category="Intersection Manager Addin" class="PopulateIMTables" id="IntersectionManager_addin.populateIMTablesButton" image="Install\add204.png" message="Populate Intersection Manager Tables" tip="Populate Intersection Manager Tables"><Help heading="Populate Intersection Manager Tables">Populate Intersection Manager Tables</Help></Button>
        <Button caption="Update Intersection Manager Tables" category="Intersection Manager Addin" class="UpdateIMTables" id="IntersectionManager_addin.updateIMTablesButton" image="Install\pencil41.png" message="Update Intersection Manager Tables" tip="Update Intersection Manager Tables"><Help heading="Update Intersection Manager Tables">Update Intersection Manager Tables</Help></Button>
        <Button caption="Set View Date" category="Intersection Manager Addin" class="SetViewDate" id="IntersectionManager_addin.setViewDateButton" image="Install\calendar68.png" message="Set View Date" tip="Set View Date"><Help heading="Set View Date">Set View Date</Help></Button>
    </Commands>
    <Extensions>
        <Extension autoLoad="true" category="Intersection Manager Addin" class="IntersectionManagerExt" description="" id="IntersectionManager_addin.extension" name="Intersection Manager" productName="Intersection Manager" showInExtensionDialog="true" />
        </Extensions>
    <Toolbars>
        <Toolbar caption="Intersection Manager Toolbar" category="Intersection Manager Addin" id="IntersectionManager_addin.ImToolbar" showInitially="true"><Items><Button refID="IntersectionManager_addin.configButton" /><Button refID="IntersectionManager_addin.populateIMTablesButton" /><Button refID="IntersectionManager_addin.updateIMTablesButton" /><Button refID="IntersectionManager_addin.setViewDateButton" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>