<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Intersection Manager Addin</Name><AddInID>{eaf64544-3234-4dcb-9971-f3f38a6a0ab5}</AddInID><Description>Intersection Manager Addin wxPython version</Description><Version>0.1</Version><Image /><Author>Yluo</Author><Company>TSS</Company><Date>05/04/2015</Date><Targets><Target name="Desktop" version="10.2" /></Targets><AddIn language="PYTHON" library="IntersectionManager_addin.py" namespace="IntersectionManager_addin"><ArcMap>
    <Commands>
        <Button caption="Parameter Configuration" category="Intersection Manager Addin" class="Configuration" id="IntersectionManager_addin.configButton" image="" message="" tip=""><Help heading="" /></Button>
        </Commands>
    <Extensions>
        <Extension autoLoad="true" category="Intersection Manager Addin" class="IntersectionManagerExt" description="" id="IntersectionManager_addin.extension" name="Intersection Manager" productName="Intersection Manager" showInExtensionDialog="true" />
        </Extensions>
    <Toolbars>
        <Toolbar caption="Intersection Manager Toolbar" category="Intersection Manager Addin" id="IntersectionManager_addin.ImToolbar" showInitially="true"><Items><Button refID="IntersectionManager_addin.configButton" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>